html {
  background-color: #19B7BD;
  color: #FAF7EE;
}

* {
  margin: 0;
  padding: 0;
}

.App {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.green-button {
  cursor: pointer;
  background-color: #49CC90;
  border: none;
  color: #FAF7EE;
  font-weight: 600;
  transition: .1s;
  padding: 5px 10px;
}

.green-button:hover {
  transform: scale(1.1);
}
