html {
  background-color: #19B7BD;
  color: #FAF7EE;
}

* {
  margin: 0;
  padding: 0;
}

.App {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}



.prune-items-container {
  padding: 20px;
  display: flex;
}

.prune-items-button {
  cursor: pointer;
  background-color: rgb(180, 20, 20);
  color: white;
  border: none;
  padding: 1px 10px;
  transition: .2s;
  margin-left: 20px;
  font-size: 20px;
  align-items: center;
  display: flex;
  border-radius: 5px;
}

.prune-items-button:hover {
  background-color: rgb(212, 15, 15);
}



.object-creation-form-area {
  width: 70%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  margin-bottom: 50px;
  justify-content: center;
}

.object-creation-item,
.green-button {
  padding: 5px 10px;
  text-align: center;
  margin: 5px;
  width: 100%;
  border: none;
  box-sizing: border-box;
}

.green-button {
  cursor: pointer;
  background-color: #209661;
  color: #FAF7EE;
}

.green-button:hover {
  background-color: #49CC90;
}



.objects-list-container {
  list-style: none;
}

.objects-list-item {
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 1px solid #188CA5;
  border-radius: 15px;
  padding: 5px 10px;
  margin: 10px;
  transition: .1s;
}

.objects-list-item:hover {
  border: 1px solid red;
}

.objects-list-info {
  display: flex;
  justify-content: space-between;
  margin-left: 20px;
  width: 100%;
}

