.containerstool-container {
    width: 100%;
}

.containers-table {
    width: 100%;
    border-collapse: collapse;
}

.containers-table-row {
    border-top: 1px solid #ccc;
}

.containers-table td {
    padding: 10px;
    text-align: left;
}

.container-status-label {
    width: 80%;
    border-radius: 5px;
    margin: 0 auto;
    text-align: center;
    color: #072A40
}

.container-control-buttons {
    display: flex;
    justify-content: center;
}
