
.imagestool-container {
    width: 100%;
}

.image-pulling-area {
    width: 100%;
    text-align: center;
    margin-bottom: 30px;
}

#repository-entry {
    padding: 5px 10px;
    margin: 0 10px;
    border: none;
}

#repository-entry {
    text-align: center;
}

.prune-images-container {
    padding: 20px;
    display: flex;
}

.prune-images-button {
    cursor: pointer;
    background-color: rgb(180, 20, 20);
    color: white;
    border: none;
    padding: 1px 10px;
    transition: .2s;
    margin-left: 20px;
    font-size: 20px;
    align-items: center;
    display: flex;
    border-radius: 5px;
}

.prune-images-button:hover {
    background-color: rgb(212, 15, 15);
}


.images-list-container {
    list-style: none;
}

.images-list-item {
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    border: 1px solid #188CA5;
    border-radius: 15px;
    padding: 5px 10px;
    margin: 10px;
    transition: .1s;
}

.images-list-item:hover {
    border: 1px solid red;
}

.images-list-img {
    height: 30px;
    content: url("../assets/icon-remove.png");
}

.images-list-img:hover {
    content: url("../assets/icon-remove-active.png");
}

.images-list-description {
    display: flex;
    justify-content: space-between;
    margin-left: 20px;
    width: 100%;
}
